<footer>
			<div class="main">
				<div class="footer-bg">
					<div class="aligncenter">
						Jason Smith &copy; 2011
<br>Website Template by <a class="link" rel="nofollow"  href="http://www.templatemonster.com/">TemplateMonster.com</a>
<br>Find more free templates <a href="http://www.websitetemplatesonline.com" target="_blank">at WTO</a>. | <a href="http://www.getjoomlatemplatesfree.com/" title="Themes for Joomla">www.getjoomlatemplatesfree.com</a>. Joomla Templates Groove. 
					</div>
				</div>
			</div>
		</footer>
