<header>
				<div class="main">
					<div class="border-top">
						<div class="wrapper">
							<h1><a href="index.html">عباس شهروان</a></h1>
							<nav>
								<ul class="menu">
									<li><%= link_to "صفحه اصلی",    root_path %></li>
									<li><%= link_to "خدمات حقوقی",    services_path %></li>
									<li><a href="areas.html">Areas of Practice</a></li>
									<li><a href="clients.html">Clients</a></li>
									<li><a href="faq.html">FAQ</a></li>
									 <li><%= link_to "اطلاعات تماس",    contacts_path %></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="slider-bg">
						<div class="slider">
							<div class="banner">
								<strong class="title-1" dir = "rtl">وکیل پایه یک دادگستری <br> عضو هیات علمی دانشکده حقوق</strong>
								<span class="text-1">your constitutional right for qualified</span>
								<a class="link" href="#">legal help</a>
							</div>
						</div>
					</div>
				</div>
			</header>   
